<a href='https://twitter.com/transcendi_care'><img id='twitter' src='https://abs.twimg.com/icons/apple-touch-icon-192x192.png'></a>
<a href='mailto:transcending.care@gmail.com'><img id='gmail' src='https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300'></a>
<footer>
  <div>
  a self care app for <br/> transgender | non-binary | gender non-conforming people
</div>
<div id='cp'>
  Copyright (c) 2017 Copyright Holder All Rights Reserved.
</div>
</footer>
