<nav>
  <ul>
    <li><a class='nav' href='/'>home</a></li> |
    <li><a class='nav' href='/users'>users</a></li> |
    <li><a class='nav' href='/selfcare'>self care board</a></li> |
    <li><a class='nav' href='/about'>about</a></li>
  </ul>
</nav>
