<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/selfcare/index.css">
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <a href='/sessions/logout'><button id="logout">log out</button></a>
      <% include ../partials/header.ejs %>
    </header>
    <section class='subheader'>
    <h1>self care tiles</h1>
    <a href="/selfcare/new"><button class='newpage'>New Self Care Tile</button></a>
  </section>
    <section class='board'>
      <% for(let i = 0; i < selfcare.length; i++){%>
      <div class='tiles'>
        <a class='showpage'href="/selfcare/<%=selfcare[i]._id%>">
          <%=selfcare[i].title%><br/>
          <img src='<%=selfcare[i].image%>'><br/>
          </a>
        </div>
      <% } %>
    </section>
      <% include ../partials/footer.ejs %>
  </body>
</html>
