<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/selfcare/new.css">
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <a href='/sessions/logout'>  <button id="logout">log out</button></a>
    <% include ../partials/header.ejs %>
  </header>
    <h1> new self care tile</h1>
    <form action="/selfcare" method="POST">
      <input type="text" name="title" placeholder="title"><br/>
      <input type="text" name="description" placeholder="description"><br/>
      <input type="text" name="image" placeholder="an image to symbolize your tile"><br/>
      <input type="text" name="link" placeholder="link to an example or resource."><br/>
      <input type="text" name="example" placeholder="example of what this looks like for you"><br/>
      <br/>
      <input id='submit'type="submit" value="Create new tile">
    </form>
    <% include ../partials/footer.ejs %>
  </body>
</html>
