<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/about.css">
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <% include ./partials/header.ejs %>
    </header>
    <section>
    <div id='site'>
      <p>transcending care was founded in 2017, originally as a project based full stack application for a computer programming class. The intent of this app is to provide a space specifically for folks who are transgender, non-binary, and gender non-conforming to share self care ideas and best practices. If you have suggestions or room for improvement for this page please email us at the gmail logo below and follow our progress on twitter.</p>
    </div>
  </section>
    <% include ./partials/footer.ejs %>
  </body>
</html>
