<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <button id="signup">Sign up</button>
      <nav>
        <ul>
          <li>users</li> |
          <li>self care board</li>
        </ul>
      </nav>
    </header>
    <section>
      <button class="login">log in</button>
    </section>
    <footer>
      <div>
      a self care app for <br/> transgender | non-binary | gender non-conforming people
    </div>
    <div id='cp'>
      Copyright (c) 2017 Copyright Holder All Rights Reserved.
    </div>
    </footer>
  </body>
</html>
