<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
    <a href='/sessions/register'>  <button id="signup">Sign up</button></a>
    <% include ./partials/header.ejs %>
    </header>
    <section>
    <a href='/sessions/login'><button class="login">log in</button></a>
    </section>
    <% include ./partials/footer.ejs %>
  </body>
</html>
