<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <button id="signup"><a href='/sessions/register'>Sign up</a></button>
      <nav>
        <ul>
          <li><a href="/">home</a></li> |
          <li><a href="/users">users</a></li> |
          <li><a href="/selfcare">self care board</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <button class="login"><a href='/sessions/login'>log in</a></button>
    </section>
    <footer>
      <div>
      a self care app for <br/> transgender | non-binary | gender non-conforming people
    </div>
    <div id='cp'>
      Copyright (c) 2017 Copyright Holder All Rights Reserved.
    </div>
    </footer>
  </body>
</html>
