* {
  font-family: 'PT Sans Narrow', sans-serif;
}
body {
  background-image: url('http://geodavephotography.com/images/relaxing-wallpaper/36837666-relaxing-wallpaper.jpg');
  background-size: cover;
  background-position: top;
  margin: 0%;
}
header {
  text-align: center;
}
h1 {
  margin-top: -1%;
}
ul li {
  display: inline;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #053d63;
}
a:hover {
  color: white;
}
#signup {
  position: fixed;
  float: right;
  margin-top: -3%;
  margin-left: 32%;
  border-radius: 28px;
  border: none;
  color: #053d63;
  background: #ffffff;
}
#signup:hover {
  color: #ffffff;
  background: #053d63;
}
section {
  width: 35%;
  margin: auto;
}
.login {
  background: #053d63;
  border-radius: 28px;
  color: #ffffff;
  font-size: 100%;
  padding: 2% 5% 2% 5%;
  text-decoration: none;
  border: 1px solid #053d63;
  display: block;
  margin: auto;
  margin-top: 5%;
}
.login:hover {
  color: #052d63;
  background: #ffffff;
}
footer {
  background: black;
  color: white;
  font-size: smaller;
  text-align: center;
  margin: auto;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#twitter {
  width: 3%;
  height: 3%;
  margin-left: 1%;
  margin-top: 23%;
}
#gmail {
  width: 3%;
  height: 3%;
  margin-left: 1%;
  margin-top: 23%;
}
#cp {
  font-size: 5px;
  float: right;
  margin-top: -1.5%;
  margin-right: 1%;
}
