<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/users/index.css">
    <title></title>
  </head>
  <body>
    <h1> user index page</h1>
    <footer>
      <div></div>
      <div></div>
      <div></div>
    </footer>
  </body>
</html>
