<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/users/index.css">
    <% include ../partials/head.ejs%>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <a href='/sessions/logout'><button id="logout">log out</button></a>
      <% include ../partials/header.ejs %>
    </header>

    <section>
      <% for(let i = 0; i < users.length; i++){%>
      <div class='users'>
      <a class='showpage' href='/users/<%=users[i]._id%>'>
      <%=users[i].name%>: <%=users[i].pronouns%><br/>
      <img src="<%=users[i].image%>"><br/>
      </a>
      </div>
      <%}%>
    </section>
      <% include ../partials/footer.ejs %>
  </body>
</html>
