<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/users/login.css">
    <% include ../partials/head.ejs%>
  </head>
  <body>
    <header>
      <h1>transcending care</h1>
      <% include ../partials/header.ejs %>
    </header>
    <div class="login">
    <form action='/sessions/login' method='POST'>
      <input type="text" name="username" placeholder='username'><br/>
      <input type="password" name="password" placeholder="password"><br/>
      <br/>
      <input id='submit'type="submit" name="" value="log in">
    </form>
    <% if (message) { %>
      <%= message %>
    <% } %>
  </div>
  <br/>
  <div class="register">
    Not registered? <br/>
    <a id='signup' href='/sessions/register'>sign up</a>
  </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
