<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New User Page</h1>
    <form>
      Name: <input type="text" name="" value=""><br/>
      Pronouns: <input type="text" name="" value="she/her he/him  they/them etc"><br/>
      Image: <input type="text" name="" value="url">

    </form>
  </body>
</html>
