<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>New User Page</h1>
    <form action='/users' method="POST">
      Name: <input type="text" name="name" value=""><br/>
      Pronouns: <input type="text" name="pronouns" value="she/her he/him  they/them etc"><br/>
      Profile Picture: <input type="text" name="image" value="url"><br/>
      Age: <input type="text" name="age" value="How old are you?"><br/>
      <br/>
      <input type="submit" name="" value="update profile">
    </form>
  </body>
</html>
