<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/users/register.css">
    <% include ../partials/head.ejs%>
  </head>
  <body>
    <header>
    <h1>transending care</h1>
    <% include ../partials/header.ejs%>
    </header>
    <div class='signup'>
    <form action="/sessions/register" method="POST">
      <input type="text" name="username" placeholder='create username'><br/>
      <input type="password" name="password" placeholder='create password'><br/>
      <br/>
      <button id='submit'>Register</button>
      </div>
    </form>
    <% include ../partials/footer.ejs%>
  </body>
</html>
